.rowBody {
  &.selected {
    background-color: var(--color-light-900);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus-within {
    background-color: var(--color-accent-900);
  }

}

.error {
  &::placeholder {
    color: var(--color-danger-300);
  }
}

.editAddressCell {
  display: flex;
  gap: 10px;
}

.actionCellBody {
  width: 110px;
}
