.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--color-dark-500);
}

.headCell {
  padding: 8px 12px;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-dark-500);

  > span {
    user-select: none;
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.tableRow {
  cursor: default;
  background-color: var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-500);
}

.tableCell {
  padding: 6px 12px;
}
