.modalContent {
  display: flex;
  flex-direction: column;
  gap: 32px;

  min-width: 450px;
  padding: 16px 20px;
}

.secondaryTitle {
  font-size: var(--font-size-m);
  line-height: 190%;
  color: var(--color-accent-100);
  text-align: center;
}

.modalContent > *:last-child {
  margin-top: 10px;
}