.checkboxWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  & svg {
    fill: var(--color-accent-700);
  }

  &.disabled {
    cursor: inherit;
  }

  &:hover:not(.disabled){
    background-color: var(--color-dark-300);
  }
}

.checkbox {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;

  background-color: transparent;
  border: 2px solid var(--color-light-100);
  border-radius: 2px;

  &:focus-visible {
    width: 16px;
    height: 16px;
    outline: 1px solid var(color-light-900);
  }

  &:disabled {
    cursor: inherit;
    border-color: var(--color-light-900);

    &[data-state='checked'] {
      border-color: var(--color-dark-100);
    }
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14px;
  height: 14px;

  background-color: var(--color-light-100);

  &.disabled {
    background-color: var(--color-dark-100);
  }
}
